In [1]:
!wget https://raw.githubusercontent.com/Pinafore/publications/master/2016_acl_doclabel/data/user_exp/min_10_data.csv

--2022-07-17 22:51:55--  https://raw.githubusercontent.com/Pinafore/publications/master/2016_acl_doclabel/data/user_exp/min_10_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1587 (1.5K) [text/plain]
Saving to: ‘min_10_data.csv’

min_10_data.csv     100%[===================>]   1.55K  --.-KB/s    in 0.003s

2022-07-17 22:51:55 (477 KB/s) - ‘min_10_data.csv’ saved [1587/1587]

In [2]:
import pandas as pd
import numpy as np

In [3]:
alto_results = pd.read_csv('min_10_data.csv')
print(alto_results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subjects   40 non-null     int64
 1   fake_id    40 non-null     object
 2   condition  40 non-null     object
 3   TM         40 non-null     object
 4   AL         40 non-null     object
 5   purity     40 non-null     float64
 6   ri         40 non-null     float64
 7   nmi        40 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.6+ KB
None

In [4]:
alto_results.groupby('condition').mean()

           subjects   purity       ri      nmi
condition
LA             15.5  0.35371  0.81718  0.27048
LR              5.5  0.30820  0.78506  0.19292
TA             35.5  0.30993  0.79897  0.18669
TR             25.5  0.32384  0.82212  0.20829